a.has-text-white:hover {
  background-color: gray;
}
#aside-nav{
  position: sticky;
  top:0px;
  display:block;
  height:100vh;

}
#navbar{
  position:sticky;
  top:0;
}
.stop-overflow{ 
  padding:0px;
  background-color: white;
  overflow-x: hidden;
}
.columns.is-multiline.is-centered{
  padding-top:20px;
}
section{
  margin:020px;
}
.column #id-card{
  padding-top:50px;
  margin-bottom:100px;
}
html{
  margin:0px;
  scroll-behavior: smooth;
}
.card {
  background-color: rgb(150, 150, 150);
  color:white;
}
.content h2{
  color:white;
}
.inner-cards .card{
  background-color: white;
  color:#4a4a4a ;
}
.bottom-img{
  height:100px;
}
#id-card-nav{
  padding-top:50px;
}

.container-norman{
  /* height: 500px; */
  background: rgb(51,3,3);

}
#skills{
  margin-top: 50px;
}
#main{
  margin:0px;
}
#mobile{
  padding:0px;
}
#norman-the-neckbeard{
  background-color: transparent;
  
}

.card-background{
  background:transparent;
}
.project{
  height: 500px;
  margin-right:0px;
}
#projects-section{
  padding:0px;
}
.nav-display{
  padding-right:0px;
}
.right-project{
  padding-right: 35px;
}
.container-snake{
  background: rgb(29,51,3);

}
.container-unity{
  background: rgb(51,35,3);
}
.container-change{
  background: rgb(51,3,39,.8);
}
.side-image{
  height:50px;
} 
.content .remove-bullets ul{
  list-style: none;
  margin-left:0px;
}