a.has-text-white:hover {
  background-color: gray;
}
#aside-nav{
  position: sticky;
  top:0;
  display:block;
  height:100vh;
  margin-bottom: 0px;;
}
#navbar{
  position:sticky;
  top:0;
}
.columns.is-multiline.is-centered{
  padding-top:20px;
}
section{
  margin:0px;
}
body{
  padding:25px;
  margin:0px;
}
html{
  margin:0px;
}