a.has-text-white:hover {
  background-color: gray;
}
#aside-nav{
  position: sticky;
  top:0px;
  display:block;
  height:100vh;

}
#navbar{
  position:sticky;
  top:0;
}
.stop-overflow{ 
  padding:0px;
  background-color: white;
  overflow-x: hidden;
}
.columns.is-multiline.is-centered{
  padding-top:20px;
}
section{
  margin:020px;
}
#id-card{
  padding-top:50px;
}
html{
  margin:0px;
  scroll-behavior: smooth;
}
.card {
  background-color: rgb(150, 150, 150);
  color:white;
}
.content h2{
  color:white;
}
#inner-cards .card{
  background-color: white;
  color:#4a4a4a ;
}
#bottom-img{
  height:100px;
}
#id-card-nav{
  padding-top:50px;
}
#norman-img-desk{
  align-self: stretch;
}
.container-norman{
  /* height: 500px; */
  background: rgb(51,3,3);
background: linear-gradient(45deg, rgba(25,3,3,1) 0%, rgba(125,125,125,1) 50%, rgba(25,3,3,1) 100%);
}
#main{
  margin:0px;
}
#mobile{
  padding:0px;
}
#norman-the-neckbeard{
  background-color: transparent;
  
}
#unity{
  background: transparent;
}
#snake{
  background: transparent;
}
.project{
  height: 500px;
  margin-right:0px;
}
#projects-section{
  padding:0px;
}
.nav-display{
  padding-right:0px;
}
.right-project{
  padding-right: 35px;
}
.container-snake{
  background: rgb(29,51,3);
background: linear-gradient(45deg, rgba(29,51,3,1) 0%, rgba(125,125,125,1) 50%, rgba(29,51,3,1) 100%);
}
.container-unity{
  background: rgb(51,35,3);
background: linear-gradient(135deg, rgba(51,35,3,1) 0%, rgba(125,125,125,1) 50%, rgba(51,35,3,1) 100%);
}
.container-change{
  background: rgb(51,3,39);
background: linear-gradient(135deg, rgba(51,3,39,1) 0%, rgba(125,125,125,1) 50%, rgba(51,3,39,1) 100%);
}